<footer class="footer">
  <div class="container">
    <nav class="menu">
      <ul>
        <li class="menu-item">
          <a
            class="footer-left header-info__main"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Помощь</a
          >
        </li>
        <li class="menu-item">
          <a
            class="footer-left header-info__about"
            [routerLink]="['/about']"
            routerLinkActive="active"
            >Инфо</a
          >
        </li>
        <li class="menu-item">
          <a
            class="footer-left header-info__contacts"
            [routerLink]="['/contacts']"
            routerLinkActive="active"
            >Команда</a
          >
        </li>
      </ul>
    </nav>
    <div class="logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </div>
    <nav class="menu">
      <ul>
        <li class="menu-item">
          <a
            class="footer-right header-info__main"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Поддержка</a
          >
        </li>
        <li class="menu-item">
          <a
            class="footer-right header-info__about"
            [routerLink]="['/about']"
            routerLinkActive="active"
            >Ресурсы</a
          >
        </li>
        <li class="menu-item">
          <a
            class="footer-right header-info__contacts"
            [routerLink]="['/contacts']"
            routerLinkActive="active"
            >Источники</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="container-info">
    <div class="networks">
      <a href="#" class="networks__logo"
        ><img src="assets/images/git.png" alt="logo" class="info"
      /></a>
      <a href="#" class="networks__logo"
        ><img src="assets/images/telegram.svg" alt="logo" class="info"
      /></a>
      <a href="#" class="networks__logo"
        ><img src="assets/images/vk.svg" alt="logo" class="info"
      /></a>
      <a href="#" class="networks__logo networks__logo-last"
        ><img src="assets/images/mail.png" alt="logo" class="info"
      /></a>
    </div>
    <div class="privates">© Реактор+ 2022. Мы за качество!</div>
  </div>
</footer>
