footer {
  background: #333333;
  color: #e1e3e6;
  a {
    color: #e1e3e6;
    &:visited {
      color: #e1e3e6;
    }
    &:hover {
      color: #666;
    }
  }
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;

  ul {
    display: flex;
    .footer-left {
      margin-right: 70px;
    }
    .footer-right {
      margin-left: 70px;
    }
  }
}

.container-info {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
  padding: 10px 0;
  flex-direction: column;
  align-items: center;
  .networks__logo {
    margin-right: 30px;
  }
  .networks__logo-last {
    margin-right: 0;
  }
}

  .logo {
    width: 65px;
  }
  .info {
    width: 50px;
  }
}
