<footer class="footer">
  <div class="container">
    <nav class="menu">
      <ul>
        <li class="menu-item">
          <a
            class="footer-right header-info__main"
            [routerLink]="['/info']"
            routerLinkActive="active"
            >Инфо</a
          >
        </li>
        <li class="menu-item">
          <a
            class="footer-right header-info__main"
            [routerLink]="['/support']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Поддержка</a
          >
        </li>
        <li class="menu-item">
          <a
            class="footer-right header-info__main"
            [routerLink]="['/resources']"
            routerLinkActive="active"
            >Ресурсы</a
          >
        </li>
      </ul>
    </nav>
    <div class="logo">
      <img src="assets/images/logo.svg" alt="logo" />
    </div>
  </div>
  <div class="container-info">
    <div class="networks">
      <a href="https://github.com/Hakaton4ik22" class="networks__logo"
        ><img src="assets/images/git.png" alt="logo" class="info"
      /></a>
      <a href="https://t.me/reactor_plus" class="networks__logo"
        ><img src="assets/images/telegram.svg" alt="logo" class="info"
      /></a>
    </div>
    <div class="privates">© Реактор+ 2022. Мы за качество!</div>
  </div>
</footer>
