<section class="company">
  <div class="company-info">
    <h1>Наше название - наш девиз</h1>
    <h5>Lorem, ipsum.</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
      officia architecto natus in, quia expedita rem molestias ab velit,
      laudantium corporis adipisci alias necessitatibus delectus optio aliquam
      omnis quos cum.
    </p>
    <h5>Lorem, ipsum.</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
      officia architecto natus in, quia expedita rem molestias ab velit,
      laudantium corporis adipisci alias necessitatibus delectus optio aliquam
      omnis quos cum.
    </p>
  </div>
  <div class="company-photo">
    <img src="#" alt="Photo" />
    <h5>Lorem, ipsum.</h5>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
      officia architecto natus in, quia expedita rem molestias ab velit,
      laudantium corporis adipisci alias necessitatibus delectus optio aliquam
      omnis quos cum.
    </p>
  </div>
</section>

<section class="benefits">
  <h2>Вы получите вот эти преимущества</h2>
  <div class="cards">
    <div class="benefit-card">
      <img src="#" alt="photo" />
      <h4>Lorem, ipsum dolor.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
        et incidunt expedita aliquam excepturi nemo dolore facere architecto,
        eius doloribus quas ipsa eveniet voluptas obcaecati.
      </p>
      <a href="#">Узнать больше</a>
    </div>
    <div class="benefit-card">
      <img src="#" alt="photo" />
      <h4>Lorem, ipsum dolor.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
        et incidunt expedita aliquam excepturi nemo dolore facere architecto,
        eius doloribus quas ipsa eveniet voluptas obcaecati.
      </p>
      <a href="#">Узнать больше</a>
    </div>
    <div class="benefit-card">
      <img src="#" alt="photo" />
      <h4>Lorem, ipsum dolor.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
        et incidunt expedita aliquam excepturi nemo dolore facere architecto,
        eius doloribus quas ipsa eveniet voluptas obcaecati.
      </p>
      <a href="#">Узнать больше</a>
    </div>
  </div>
</section>
<section class="use">
  <img src="#" alt="photo" />
  <div class="use-info">
    <h3>Как пользоваться</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rerum
      natus itaque aliquid praesentium, corrupti sint consequuntur omnis
      deleniti ad. Sint quaerat eos corrupti porro eaque officia consequuntur
      maiores illum!
    </p>
    <ul>
      <li>Зарегаться</li>
      <li>Выбрать нужный пунктик</li>
      <li>Скачать</li>
    </ul>
  </div>
</section>
