<section class="office">
  <div class="office-wrapper">
    <div class="person">
      <div class="">
        <div class="person-photo">
          <img src="assets/images/lk.svg" alt="logo" class="logo" />
          <div class="name">Иван Иванов</div>
          <p>pochta@gmail.com</p>
        </div>
        <ul>
          <li class="person-info plk">
            <img src="assets/images/lk.svg" alt="photo" class="icon" />Личный
            кабинет
          </li>
          <li class="person-info">
            <img
              src="assets/images/save.svg"
              alt="photo"
              class="icon"
            />Сохранённые
          </li>
          <li class="person-info">
            <img
              src="assets/images/recent.svg"
              alt="photo"
              class="icon"
            />Недавние
          </li>
          <li class="person-info">
            <img
              src="assets/images/settings.svg"
              alt="photo"
              class="icon"
            />Настройки
          </li>
        </ul>
      </div>
    </div>
    <div class="request" *ngIf="!load; else loading">
      <h3>Новый запрос</h3>
      <form [formGroup]="formReq" (ngSubmit)="submit()">
        <mat-form-field appearance="fill">
          <mat-label>Страна</mat-label>
          <mat-select formControlName="countryForm">
            <mat-option
              *ngFor="let countryF of countryList"
              [value]="countryF"
              >{{ countryF }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Направление</mat-label>
          <mat-select formControlName="naprsForm">
            <mat-option *ngFor="let naprF of naprList" [value]="naprF">{{
              naprF
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Показатель динамики</mat-label>
          <!-- year - показатель -->
          <mat-select formControlName="yearsForm">
            <mat-option *ngFor="let yearF of yearList" [value]="yearF">{{
              yearF
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>ТН ВЭД</mat-label>
          <mat-select formControlName="tnvedsForm" multiple>
            <mat-option *ngFor="let tnvedF of tnvedList" [value]="tnvedF">{{
              tnvedF
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Выбор отчета</mat-label>
          <mat-select formControlName="resForm">
            <mat-option *ngFor="let resF of resList" [value]="resF">{{
              resF
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Регион</mat-label>
          <mat-select formControlName="regionForm">
            <mat-option *ngFor="let regionF of regionsList" [value]="regionF">{{
              regionF
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <button
          type="submit"
          class="btn btn_get"
          [disabled]="formReq.invalid"
          (click)="loader()"
        >
          Сформировать отчет
        </button>
        <a class="btn btn_get" [routerLink]="['/office', 'recommendations']"
          >Получить рекомендации</a
        >
      </form>
    </div>
  </div>
</section>

<div class="table">
  <h2>Аналитическая таблица</h2>
  <form mat-form-field appearance="standard" class="filter">
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Фильтр по словам"
      #input
    />
  </form>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="napr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Наименование (товара)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.napr }}</td>
    </ng-container>
    <ng-container matColumnDef="nastranapr">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Страна производитель
      </th>
      <td mat-cell *matCellDef="let element">{{ element.nastranapr }}</td>
    </ng-container>
    <ng-container matColumnDef="tnved_description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ТНВЭД</th>
      <td mat-cell *matCellDef="let element">
        {{ element.tnved_description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="stoim">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Стоимость</th>
      <td mat-cell *matCellDef="let element">{{ element.stoim }}</td>
    </ng-container>
    <ng-container matColumnDef="netto">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Нетто</th>
      <td mat-cell *matCellDef="let element">{{ element.netto }}</td>
    </ng-container>
    <ng-container matColumnDef="kol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Кол</th>
      <td mat-cell *matCellDef="let element">{{ element.kol }}</td>
    </ng-container>
    <ng-container matColumnDef="region_description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Регион</th>
      <td mat-cell *matCellDef="let element">
        {{ element.region_description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="region_s_description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Регион(S)</th>
      <td mat-cell *matCellDef="let element">
        {{ element.region_s_description }}
      </td>
    </ng-container>
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Месяц</th>
      <td mat-cell *matCellDef="let element">{{ element.month }}</td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Год</th>
      <td mat-cell *matCellDef="let element">{{ element.year }}</td>
    </ng-container>
    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        Нет данных, соответствующих фильтру "{{ input.value }}"
      </td>
    </tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>

<ng-template #loading>
  <app-loader>Идет загрузка...</app-loader>
</ng-template>
