section.office {
  display: flex;
  justify-content: center;
}

.table {
  width: 100%;
  margin: 60px auto;
  background: #4B5E87;
    box-shadow: 0px 0px 80px rgb(12 24 56 / 60%);
    border-radius: 30px;
    padding: 55px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 6px -6px rgb(60 77 111 / 20%);
    h2 {
      font-weight: bold;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      margin-bottom: 23px;
    }
  .filter{ 
    input{
      width: 100%;
      height: 40px;
    }
  }
}



.office {
  display: flex;
  .office-wrapper {
    display: flex;
    margin-top: 66px;
    .person {
      background: #4B5E87;
      box-shadow: 0px 0px 80px rgba(12, 24, 56, 0.6);
      border-radius: 30px;
      padding: 55px 30px;
      margin-right: 52px;
      box-shadow: 6px -6px rgb(60 77 111 / 20%);
      .person-photo { 
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: normal;
        .name {
          font-size: 21px;
          margin-top: 15px;
        }
        p {
          font-size: 15px;
          line-height: 30px;
          text-align: center;
          color: rgba(0, 0, 0, 0.8);
        }
        .logo {
          width: 150px;
          margin-left: 72px;
          margin-right: 72px;
        }
      }

    }
    .person-info {
      display: flex;
      align-items: center;
      margin-top: 30px;
      color: #333333;
    }
    
    .plk {
      color: #e1e3e6;
    }
    .icon {
    
      width: 30px;
      margin-right: 11px;
    }
    form {
      display: flex;
      flex-direction: column;

    }

    .request {
      background: #4B5E87;
      box-shadow: 0px 0px 80px rgba(12, 24, 56, 0.6);
      border-radius: 30px;
      padding: 55px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 6px -6px rgb(60 77 111 / 20%);
      h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 23px;
      }
      .request-wrap {
        font-size: 20px;
        line-height: 22px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        input, select, mat-select {
          width: 494px;
          background: #8099CB;
          border: 1px solid #2B3958;
          border-radius: 10px;
          height: 50px;
          margin-left: 50px;
        }
      }
      .btn{ 
        font-size: 15px;
        line-height: 18px;
        background: #333333;
        color: #e1e3e6;;
        width: 189px;
        height: 40px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

form {
  .has-danger{
    border: 1px solid red;
  }
  .has-success{
    border: 1px solid green;
  }

}

  .validation {
  display: flex;
  justify-content: space-evenly;
  color: red;
  font-size: 23px;
  margin-bottom: 12px;
}
