<section class="office">
  <div class="person">
    <img src="#" alt="photo" />
    <div class="person-info">
      <h6>Иван Иванов</h6>
      <p>pochta@gmail.com</p>
      <ul>
        <li><img src="#" alt="photo" />Личный кабинет</li>
        <li><img src="#" alt="photo" />Сохранённые</li>
        <li><img src="#" alt="photo" />Недавние</li>
        <li><img src="#" alt="photo" />Настройки</li>
      </ul>
    </div>
  </div>
  <div class="request">
    <h3>Новый запрос</h3>
    <form>
      <label for="email">Промышленность </label>
      <input id="email" type="text" />
      <label for="email">Регион </label>
      <input id="email" type="text" />
      <label for="email">Отчетный период </label>
      <input id="email" type="text" />
      <label for="email">Логистический потенциал </label>
      <input id="email" type="text" />
      <label for="email">Уровень промышленности </label>
      <input id="email" type="text" />
      <label for="email">Кол-во предприятий в регионе </label>
      <input id="email" type="text" />
      <label for="email">Кол-во предприятий др регионах </label>
      <input id="email" type="text" />
      <button type="submit" class="btn">Сформировать отчет</button>
    </form>
  </div>
</section>
