section {
  margin-bottom: 30px;
  height:50vh;
}

.company {
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  align-items: center;
}

.use {
  display: flex;
  align-items: center;
}