@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;

}

a {
  cursor: pointer;
  text-decoration: none;

  &:visited {
    color: black;
  }
  &:hover {
    color: #666;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}