@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

body {
  font-family: 'Montserrat', 'PT Sans', 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background: linear-gradient(188deg, #2A3958 55%, #9b1803) fixed;
  color: #e1e3e6;
  height: 100%;

}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
  min-height: 100%;

}
