<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="login()">
    <h2>Вход</h2>
    <div class="fom-control">
      <input
        type="text"
        formControlName="email"
        [ngClass]="{
          invalid: form.get('email').touched && form.get('email').invalid
        }"
        placeholder="Почта"
      />
    </div>
    <div class="fom-control">
      <input
        type="password"
        formControlName="password"
        placeholder="Пароль"
        [ngClass]="{
          invalid: form.get('email').touched && form.get('email').invalid
        }"
      />
    </div>
    <div>
      <button type="submit" class="btn" [disabled]="form.invalid">Войти</button>
    </div>
  </form>
</div>
