<div class="wrapper">
  <h3>Информация о платформе:</h3>
  Платформа Реактор+ предназначена для подбора и анализа отраслей экономики
  России, имеющих потенциал развития и импортозамещения. Этот инструмент очень
  полезен для первичного выявления перспективных производственных ниш для
  инвестиций и развития собственных производственных мощностей.
  <br />
  <br />
  Платформа, используя таможенную статистику импорта и экспорта, служит
  инструментом поиска как перспективных направлений вкладывания средств, так и
  отраслей находящихся под угрозой дефицита в период нестабильных торговых
  отношений с другими странами.
</div>
